## Assignment 08

## Due: See Date in Moodle

In this assignment you will use intermediate and advanced features in R.

To receive a **full credit** for this assignment, you must complete all exercises.

## This Week's Assignment

In this week's assignment, you'll learn how to:

- sample from an `R` dataframe.

- write a user-defined R function.

Let's get started!

**Name:** 

**Section:** 

**Date:**

## The Bootstrap

Bootstrapping is one of the simplest, yet most powerful methods in all of statistics. It provides us an easy way to get a sense of what might happen if we could repeat an experiment several times. It turns estimates into distributions that can be used to calculate all kinds of stuff, including standard errors, confidence intervals and even $p-$values.

Below is a video that explains the main ideas behind this computational technique.

In [ ]:
library(IRdisplay)

# YouTube video ID
video_id <- 'Xz0x-8-cgaQ'

# YouTube video url
video_url <- paste0("https://www.youtube.com/embed/", video_id, "?rel=0")

# Create the HTML embed code
embed_code <- paste0('<iframe width="560" height="315" src="', video_url, '" frameborder="0" allowfullscreen></iframe>')

# Display the embedded video
display_html(embed_code)

Most of the time when you're conducting research, it's impractical to collect data from the entire population. This can be due to budget, time constraints, or other factors. Instead, a subset of the population is taken and insight is gathered from that subset to learn more about the population.

Suppose we had data that was the entire population - say all the salaries of the city employees of Raleigh, NC. Let's load the data.

In [ ]:
raleigh <- read.csv('data/...')

## Raleigh City Employees

According to indeed.com, the average City of Raleigh, NC salary ranges from approximately \\$ 39,645 per year for Administrative Technician to \\$118,226 per year for Director of Operations. Average City of Raleigh, NC hourly pay ranges from approximately \\$9.25 per hour for Director of Parks and Recreation to \\$31.62 per hour for System Programmer.

Salary information comes from 6,163 data points collected directly from employees, users, and past and present job advertisements on Indeed in the past 36 months.

Please note that all salary figures are approximations based upon third party submissions to Indeed. These figures are given to the Indeed users for the purpose of generalized comparison only. Minimum wage may differ by jurisdiction and you should consult the employer for actual salary figures.

For information on the positions and related salaries see https://www.indeed.com/cmp/City-of-Raleigh-Nc/salaries.

**Note:** Even though this information is public record the names have been removed for this exercise.

Let's look at information about the dataset.

**Question 1.** Use the `str` command to access information about the `raleigh` dataframe.

In [ ]:
...

**Question 2.** Give a breif description of each variable and its data type.

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

**Question 3.** To start our analysis and complete our assignment we need to load the appropriate packages from the `tidyverse`. Load the `dplyr` and `ggplot2` packages.

In [ ]:
...

Now let's get more details. 

**Example 1.** What are the different departments and how many employees does each department have?

In [ ]:
dplyr::arrange(setNames(data.frame(table(raleigh$DEPARTMENT)), 
                        c('title', 'count')), 
               desc(count))

**Question 4.** Which department has the most employees? Which department has the least number of employees? Is there a department that has more or less employees than you expected? Which one? Why?

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

Suppose we wanted to report the mean salary for a typical full-time employee of the City of Raleigh. Since we have all the salaries we can find the population mean. But before we can do that, we need to change the data type in 2 of the columns. The out from the `str(raleigh)` command was:

```
'data.frame':	6163 obs. of  4 variables:
 $ SALARY     : chr  "" "$32,166.61 " "" "$35,667.52 " ...
 $ HOURLY.RATE: chr  "$18.00 " "" "$12.00 " "" ...
 $ TITLE      : chr  "OFFICIALS" "POLICE OFFICER" "STAGE TECHNICIAN I(T)" "HOUSING INSPECTOR (I)" ...
 $ DEPARTMENT : chr  "PARK AND RECREATION" "POLICE" "CONVENTION CENTER" "INSPECTIONS" ...
```

So we need to do some wrangling with the `SALARY` and `HOURLY.RATE` columns to convert the values from `chr` to `num`.

## Data Wrangling

There are two issues. The first is with the values in the `SALARY` column:

- The values are stored as strings.
- Some of the salary values are `NA` (missing).

and the other is with the values in the `HOURLY.RATE` column:

- Some of the employees are paid per hour, thus their yearly salary is missing.

If we want the mean salary we will need to convert the string salary values into numbers, then compute the yearly earnings for an hourly employee.

Let's get started!

**Example 2.** Remove the dollar sign and comma from one of the `SALARY` values.

Run the cell below to see the second observation in the `ral` dataframe for `SALARY`.

In [ ]:
raleigh$SALARY[2]

**Example 3.** Use the `gsub` command to remove the `$` and the `,`.

In [ ]:
gsub("[\\$,]", "", raleigh$SALARY[2])

**Example 4.** Use the `as.numeric` command to convert the data type of the output from the `gsub` command from a string to a number.

In [ ]:
as.numeric(gsub("[\\$,]", "", raleigh$SALARY[2]))

Now that we know how to do one value, we can do this for all the values. To apply this to all the items in the column we can use a user-defined function.

A user-defined function in R is a function that you create yourself to perform a specific task. It helps make your code more modular and reusable. The basic syntax for a user-defned function is:

```r
function_name <- function(arg1, arg2, ...) {
  ...
  return (result)
}

```

For example

In [ ]:
add_numbers <- function(a, b) {
  result <- a + b
  return (result)
}

sum <- add_numbers(3, 5)

print(sum)

In [ ]:
## Create a user-defined function to remove the '$' and ','
convert_to_number <- function(x){
    as.numeric(gsub("[\\$,]", "", x))
}

## Use the convert_to_number function on
## every element in the SALARY column

## Save the output to an object named
## ys (yearly salary)
ys <- convert_to_number(raleigh$SALARY)

## Display the first 10 results
head(ys, 10)

Use the `convert_to_number` function to change each value in the `HOURLY.RATE` column from a string to a number. Save the output to an object named `hr` (hourly rate). Display the first 10 results.

**Hint:** Look at the code under the comment

```
# Use the convert_to_number function on
# every element in the SALARY column


# Save the output to an object named
# ys(yearly salary)
```

from **Example 4**.

In [ ]:
hr <- ...
head(hr, 10)

**Example 5.** Take the `ys` and `hr` vectors and combine them into a dataframe.

In [ ]:
dat <- data.frame(ys, hr)
head(dat, 10)

**Example 6.** For the last step we need to compute the yearly salary for an employee that is paid hourly. Here's where you get to make some choices. Assign a value to teach variable `weeks_per_year` and `hours_per_week`. 

You can remove the `...` and complete the statement.

In [ ]:
weeks_per_year <- ...
hours_per_week <- ...

**Question 5.** Explain you choices for the values of `weeks_per_year` and `hours_per_week`.

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

Based on your choices here's the yearly earnings for an employee that earns \$18.00 per hour. 

**Note:** This is first observation in our `dat` dataframe.

In [ ]:
dat$hr[1] * weeks_per_year * hours_per_week

## Vectroized Functions

In `R`, a vectorized function is a function that can operate on entire vectors (or other data structures) at once, without the need to use`for` loops.

Vectorized functions perform operations element-wise. For example, if you apply a vectorized function to a vector, the function is applied to each element of the vector individually.

## `ifelse`

Some of the employees already have a yearly salary so we don't need to do any calculations. We only need to do this for employees that have a value in the `hr` column. So, if we were saying it out loud, it would go like this:

1. we need to check the `hr` to see if there is a value;
1. if there is a value, then we need to calculate the yearly earnings;
1. to calculate the yearly earnings we can multiply the hourly rate by the number of weeks and the hours per week;
1. finally we nee to do this for all the values in the `hr` column.

Thankfully, the `ifelse` function makes it realatively easy to do all of this in one line of `R` code. [Click here](https://chat.openai.com/share/eb8a1a0f-fb53-4e56-a901-ad90bcaea3fc) to read about the `ifelse` function.

**Example 7.** Use the `ifelse` function and the `is.na` method to compute the yearly earnings from the hourly rate. 

**Note:** In `R` programming, `is.na()` is a function that is used to check for missing or `NA` (Not Available) values in a vector or dataframe. The function returns a logical vector of the same length as the input, where each element is `TRUE` if the corresponding element in the input is `NA`, and `FALSE` otherwise.

In [ ]:
salaries <- ifelse(is.na(dat$ys), 
                   dat$hr * weeks_per_year * hours_per_week, 
                   dat$ys)
head(salaries, 10)

Now we can find the mean and medain salary for all City of Raleigh, NC employees.

In [ ]:
print(paste('The mean salary is', mean(salaries)))
print(paste('The median salary is', median(salaries)))

**Question 6.** Interpret the meaning of the mean and median salary. Why do you think there is a difference of almost \$4,00 dollars between them?

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

# A Sample

A random sample is a subset of data or individuals taken from a larger population or dataset in such a way that each member of the population has an equal and independent chance of being included in the sample. The goal of taking a random sample is to ensure that the sample is representative of the entire population, allowing for valid statistical inferences and generalizations to be made about the population as a whole.

**Example 8.** Sample one observation from the `salaries` vector.

**Note:** The `sample()` command, by default, samples with replacement. This means that the same element can be chosen more than once in the random sample. If you want to sample without replacement (each element can only be chosen once), you need to explicitly set the `replace` argument to `FALSE`.

In [ ]:
## One sampled observation
sample(salaries, size = 1, replace = FALSE)

If we re-run the code cell above, we would most likely get a different value. Try it and see.

In [ ]:
## One sampled observation
sample(salaries, size = 1, replace = FALSE)

What we want to do is draw a large enough sample from a population in order to draw conclusions about a population without having to examine every single member of that population. In our activity we have the population, but for the sake of this activity let's pretend that we don't.

To ensure that your work is reproducible we will set a seed. What does it mean to set a seed?

In the context of the `R` programming language, setting a seed refers to initializing the random number generator with a specific value. This is important when you want to ensure reproducibility in your code, especially when generating random numbers.

In `R`, the random number generator is used in functions that involve randomness, such as sampling or generating random numbers from distributions. When you set a seed, you are essentially starting the random number generator at a specific point, and if you use the same seed again, you should get the same sequence of random numbers.

The `set.seed()` function is commonly used for this purpose.

In the cell below set the seed for this notebook using 4 digits from either your birthdate, street address, phone number , etc.

In [ ]:
...

**Example 9.** Sample 500 observations from the `salaries` vector.

In [ ]:
s <- 500
salaries_sample <- sample(salaries, size = s, replace = FALSE)

What is the median annual salary in our sample? Is it the same value as the median salary in the full datasaet?

In [ ]:
print(paste('The median salary in our sample of', s, 'is', median(salaries_sample)))
print(paste('The median salary in our population of', length(salaries), 'is', median(salaries)))

**Question 7.** Could we make a statement about the population based off of our sample of 500 observations? Would this be a good idea? Explain.

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

## A Bootstrap Sample Mean

Suppose we take a random sample from our sample (with replacement). Would that give us a better idea of the mean salary for a typical full-time City of Raleigh employee?

Let's try!

**Example 10.** Collect one bootstrap sample from the `salaries_sample` vector. Calculate the mean of that sample.

**Note:** We do not specify a size because we want the sample size to equal the number of items in the sample - 500.

In [ ]:
## Perform a bootstrap sample
one_bootstrap_sample <- sample(salaries_sample, replace = TRUE)

## Calculate the median of one bootstrap sample
print(paste('The mean salary in our bootstrap of', length(salaries_sample), 'is', mean(one_bootstrap_sample)))

## The median of the population
print(paste('The mean salary in our population of', length(salaries), 'is', mean(salaries)))

If we did another bootstrap sample and calculated it's mean, do you think we would get the same value? Explain.

What if we did another 10000 bootstrap samples and calculated the mean each time, do you think we would get ever the same value? Explain.

## Lots of Bootstrap Sample Means

**Example 11.** Let's do 10000 bootstrap sample means.

In [ ]:
## Initialize an empty vector to store each bootstrap sample mean
bootstrap_sample_means <- vector()

## Set the number of repetitions
repetitions <- ...

## For loop to calculate a bootstrap sample mean
for (i in 1:repetitions){
    one_bootstrap_sample_mean <- sample(salaries_sample, replace = TRUE)
    bootstrap_sample_means[i] <- mean(one_bootstrap_sample_mean)
}

**Example 12.** To analyze the distribution (i.e.; frequency and pattern) of our bootstrap means let's visualize our data using a histogram.

In [ ]:
g <- ggplot(data = data.frame(bootstrap_means = bootstrap_sample_means), 
       aes(x = bootstrap_means))

g + geom_histogram(color = 'white', 
                   linewidth = 0.5, 
                   fill = 'lightblue', 
                   bins = 10) +
theme_classic()

Based on the histogram above, do you think the true mean salary (or at least a value that's really close to it) occurs more frequently that other values? Explain.

**Example 13.** Show the location of the mean of all the bootstrap sample means and the true average salary.

In [ ]:
g <- ggplot(data = data.frame(bootstrap_means = bootstrap_sample_means), 
            aes(x = bootstrap_means))

## Create a histogram of the bootstrap sample means
g + geom_histogram(color = 'white', linewidth = 0.5, fill = 'lightblue', bins = 10) +
  
  # Plot a red marker for the true average salary
  geom_point(data = data.frame(true_mean = mean(salaries)), 
             aes(x = true_mean, y = -10), 
             color = 'darkgreen', 
             fill = 'darkgreen', 
             size = 5, 
             shape = 24) +
  
  # Plot a yellow marker for the mean salary of the bootstrapped means
  geom_point(data = data.frame(bootstrap_mean = mean(bootstrap_sample_means)), 
             aes(x = bootstrap_mean, y = -10), color = 'yellow',
             fill ='yellow', 
             size = 5,
             shape = 24)

In [ ]:
## Calculate the median of one bootstrap sample distributio
print(paste('The mean salary in our bootstrap distribution of', length(bootstrap_sample_means), 'bootstrapped sample means, each with size', length(salaries), 'is', mean(bootstrap_sample_means)))

## The median of the population
print(paste('The mean salary in our population of', length(salaries), 'is', mean(salaries)))

**Question 8.** If we did this again do you think that the mean of the bootstrapped sample means would be closer to the true mean salary? Further away? Explain.

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

**Example 14.** Show the location of the mean of all the bootstrap sample means, the true average salary, and a 95% confidence interval.

In [ ]:
## Get lower and upper bound
lower_bound <- quantile(bootstrap_sample_means, 0.025)[[1]]
upper_bound <- quantile(bootstrap_sample_means, 0.975)[[1]]

g <- ggplot(data = data.frame(bootstrap_means = bootstrap_sample_means), 
       aes(x = bootstrap_means))

## Create a histogram of the bootstrap sample means
g + geom_histogram(color = 'white', 
                   linewidth = 0.5, 
                   fill = 'lightblue', 
                   bins = 10) +

   ## Plot a red marker for the true average salary
   geom_point(data = data.frame(true_mean = mean(salaries)), 
              aes(x = true_mean, y = -1000), 
              color = 'darkgreen', 
              fill = 'darkgreen', 
              size = 5,
              shape = 24) +

   ## Plot a yellow marker for the mean salary of the bootstrapped means
   geom_point(data = data.frame(bootstrap_mean = mean(bootstrap_sample_means)), 
              aes(x = bootstrap_mean, y = -1000), 
              color = 'yellow', 
              fill = 'yellow', 
              size = 5, 
              shape = 24) +

   ## Plot a 95% confidence interval
   geom_segment(data = data.frame(lower_bound = lower_bound, upper_bound = upper_bound),
                aes(x = lower_bound, y = 100, xend = upper_bound, yend = 100), 
                    linewidth = 2, 
                    color = "red")

## Print statements
print(paste0("The 95% confidence interval is (", as.character(round(lower_bound, 2)), ",", as.character(round(upper_bound, 2)), ")"))
print(paste0("The true mean is ", median(salaries)))

**Question 9.** Show the location of the mean of all the bootstrap sample means, the true average salary, and a 90% confidence interval.

In [ ]:
## Get lower and upper bound
lower_bound <- quantile(bootstrap_sample_means, ...)[[1]]
upper_bound <- quantile(bootstrap_sample_means, ...)[[1]]

g <- ggplot(data = data.frame(bootstrap_means = bootstrap_sample_means), 
       aes(x = bootstrap_means))

## Create a histogram of the bootstrap sample means
g + geom_histogram(color = 'white', 
                   linewidth = 0.5, 
                   fill = 'lightblue', 
                   bins = 10) +

   ## Plot a red marker for the true average salary
   geom_point(data = data.frame(true_mean = mean(salaries)), 
              aes(x = true_mean, y = -1000), 
              color = 'darkgreen', 
              fill = 'darkgreen', 
              size = 5,
              shape = 24) +

   ## Plot a yellow marker for the mean salary of the bootstrapped means
   geom_point(data = data.frame(bootstrap_mean = mean(bootstrap_sample_means)), 
              aes(x = bootstrap_mean, y = -1000), 
              color = 'yellow', 
              fill = 'yellow', 
              size = 5, 
              shape = 24) +

   ## Plot a 95% confidence interval
   geom_segment(data = data.frame(lower_bound = lower_bound, upper_bound = upper_bound),
                aes(x = lower_bound, y = 100, xend = upper_bound, yend = 100), 
                    linewidth = 2, 
                    color = "red")

## Print statements
print(paste0("The 90% confidence interval is (", as.character(round(lower_bound, 2)), ",", as.character(round(upper_bound, 2)), ")"))
print(paste0("The true mean is ", median(salaries)))

**Question 10.** In your simulation, did the true mean fall outside of the confidence interval of the bootstrapped means? Do you think we could perform a simulation where the mean of the bootstrapped means falls outside of the confidence interval? Explain.

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_