# Assignment 07

## Due: See Date in Moodle

In this assignment you will use intermediate and advanced features in R.

To receive a **full credit** for this assignment, you must complete **all** questions.

## This Week's Assignment

In this week's assignment, you will perform data wrangling. This includes, but is not limited to the following:
    
- converting strings to numbers

- adding a new column to a dataframe

### Notes

- Adhere to good programming practices, utilizing descriptive variable names, appropriate spacing for readability, and adding comments to your code. 

- Ensure written responses maintain correct spelling, complete sentences, and proper grammar.

**Name:**

**Section:**

**Date:**

In this notebook we will be working with a slightly modified version of the skyscraper data that your class collected. The dataset can be accessed [**here**](https://docs.google.com/spreadsheets/d/1W0uRGIU43sMvQ1pANUtlSkFKeY_TMl9d3QZyegEhxOo/edit#gid=1105865786).


Let's get started!

In [ ]:
# Load the dataset to a dataframe namde skyscrapers
skyscrapers <- read.csv('data/skyscrapers.csv')

# Show the first 6 rows of the dataset
head(skyscrapers)

**Question 1.** Load the `dplyr` package.

In [ ]:
...

**Question 2.** Remove the first and last columns from the `skyscrapers` dataframe, then store the resulting dataframe as `df`.

In [ ]:
df <- ...
head(df)

We're interested in exploring the duration required to construct a skyscraper and whether this construction period has evolved over the years.

**Question 3:** In your opinion, has the average time required to construct a skyscraper increased or decreased as time has progressed?

_Click here to type your answer replacing this text_

In R, the `mutate` function allows us to append a new column to a dataframe, using data from its existing columns. This technique was applied in **Assignment 03**, where we introduced a new column to calculate the BMI for each character from Naboo.

Now, our objective is to incorporate a column into the `df` dataframe representing the construction time (in years) required to complete each skyscraper.

**Note:** This task will be executed incrementally, in distinct steps.

**Question 4:** Retrieve the values from the `status.completed` column by utilizing `$` notation. Assign this data to a variable named `completed` and display its contents.

In [ ]:
completed <- ...
completed

**Question 5.** Retrieve the values from the `status.started` column by utilizing `$` notation. Assign this data to a variable named `started` and display its contents.

In [ ]:
started <- ...
started

**Question 6:** Calculate the construction duration by subtracting the `started` vector values from the `completed` vector values. Store the result in a variable named `duration` and display its values.

In [ ]:
duration <- ...
duration

The `duration` vector contains the construction completion time in years for each building. Given that `duration` is a vector, we can add it to the `df` dataframe.

We could have also completed this in one line of code using the `mutate` function

```
mutate(df, duration=df$status.completed-df$status.started)
```

where 

- `df` is the name of the dataframe.
- `duration` is the name of the new column that will be added to the `df` dataframe.
- `df$status.completed-df$status.started` is the difference between the year construction was completed and the year construction was started.

Run the code cell below.

**Note:** We are using the piping operator `%>%` to direct the output directly to the `head` function, specifically to show only the first 6 observations.

In [ ]:
mutate(df, duration=df$status.completed-df$status.started) %>% head()

This operation didn't modify the `df` dataframe. To apply the changes to `df`, we must assign the output back to `df`.

Run the code cell below.

In [ ]:
df <- mutate(df, duration=df$status.completed-df$status.started)

head(df)

**Question 7:** Use the `table` command to determine the distribution of skyscrapers across different countries within the dataset.

In [ ]:
...

**Question 8:** Create a new dataframe that includes only those countries with more than 10 skyscrapers in the dataset. Store the result in a new dataframe.

**Note:** Assign the output to a variable of your choice, but **do not overwrite the existing** `df` dataframe.

In [ ]:
... <- ...
head(...)

To visualize the variation in construction durations across different countries within your dataframe, we'll use the `ggformula` package. This package augments `ggplot2` by offering a formula-based approach to data visualization. Specifically, we'll use the `gf_boxplot` function. A box plot is a straightforward and effective way to compare the spread and central tendencies of duration times among different countries.

To learn more about how to use the `ggformula` interface you read the official documentation [**here**](http://cran.nexr.com/web/packages/ggformula/ggformula.pdf) or you can look a summary of the key feartures by [**reading a conversation I had with ChatGPT**](https://docs.google.com/document/d/1OCUUGkEbXDEk0VOxoDAYXaT2IuvVUW8q4RiEIcq0FV0/edit).

Run the cell below to load the `ggformula` package.

In [ ]:
...

Run the code cell below, substituting `<the name of your dataframe>` with the actual name of your subset dataframe specified in **Question 8**. Ensure you correctly set this name as the value for the parameter data - meaning 

```
data=<the name of your dataframe>
```

In [ ]:
gf_boxplot(duration ~ country, data=dat)

If you want to change the colors all you need to do is add 

```
color="black", fill="lightblue"
```

where in this context, `color` refers to the color used for the outline of the shape, while `fill` specifies the color inside the shape.

A list of colors can be found [**here**](https://stat.columbia.edu/~tzheng/files/Rcolor.pdf).

Run the code cell below, substituting `<the name of your dataframe>` with the actual name of your subset dataframe specified in **Question 8**. Ensure you correctly set this name as the value for the parameter data - meaning 

```
data=<the name of your dataframe>
```

In [ ]:
gf_boxplot(duration ~ country, data=..., color="black", fill="lightblue")

To explore the distribution of floor counts in your dataframe, we'll utilize the `gf_histogram` function. Frist, let's review all the values from the original `skyscrapers` dataframe.

In [ ]:
skyscrapers$floors

Observe that the data is currently stored as strings. To analyze it numerically, we need to convert the data type from string to numeric. This conversion can be achieved using the `as.numeric` function. Here’s a helpful hint:

```
# Assuming your dataframe is named df and the 
# column you're converting is named "myColumn"
df$myColumn <- as.numeric(df$myColumn)

# or if you prefer tidyverse syntax, you can use mutate from dplyr
df <- df %>% mutate(myColumn = as.numeric(myColumn))
```

**Question 9.** Change the data type of the `floors` column from string to numeric.

In [ ]:
... <- ...

You should see a warning message that says 

<div style="background-color:pink; color:black; padding:5px; width:100%;">
<strong>Warning message in eval(expr, envir, enclos):</strong><br> “NAs introduced by coercion”
</div><br>

**Important:** Take a moment to think about why this might have happened. Discuss your thoughts with your group members. When you feel confident about your explanation, wave over your instructor and explain what you've discovered.

Run the code cell below, substituting `<the name of your dataframe>` with the actual name of your subset dataframe specified in **Question 8**. Ensure you correctly set this name as the value for the parameter data - meaning 

```
data=<the name of your dataframe>
```

In [ ]:
gf_histogram(~floors, data=..., bins=10, color='black', fill='lightblue')

## Data Cleaning

Data cleaning is the process of preparing data for analysis by identifying and correcting errors, inconsistencies, and inaccuracies in the data. This includes removing duplicates, correcting typos, handling missing values, and ensuring that the data is in a consistent format. A specific component of data cleaning is calld "data parsing" or "string parsing".


## String Parsing

String parsing is the process of analyzing a string of characters, extracting relevant information, and converting it into a format suitable for further processing. This often involves separating the string into components based on specific patterns or delimiters, removing unwanted characters, and transforming the data into a different type, such as converting a numeric string into an integer or decimal number.

Suppose we want to construct a histogram and a boxplot for the distribution of heights. This issue we face is that the `height` column is formatted as a string and contains two distinct units of measurement—meters and feet.

Let's tackle this issue one step at a time.

**Question 10.** First we need to display all the entries in the `height` column to assess and address the discrepancy in format and units. Display all the values in the `height` column using the dataframe you created in **Question 8**.

In [ ]:
...

We'll begin by addressing a single value to establish a correction method. Once successful, we'll extend this technique to the entire column. 

Display the first value in the `height` column using the dataframe you created in **Question 8**.

In [ ]:
...

Run the command from the previous cell and save the output to a variable named `s`. Then display the value of `s`.

In [ ]:
s <- ...
s

Now, we'll use the `strsplit` function to split the string into individual substrings wherever there are spaces, which results in a data structure known as a list. A list in R is a collection that can hold elements of different types, including numbers, characters, other vectors, dataframes, and even more lists. It allows for organizing a diverse set of data within a single structure. If you want to learn more about lists in R [**read my conversation with ChatGPT**](https://docs.google.com/document/d/1gglHE9xFjPrAFlrs_kwzLdxtn84Q9EYwta-S7vmRKbk/edit?usp=sharing).

The command `strsplit(s, ' ') ` will return the following output (which is a list)
```
1. '528''m''/''1,732''ft'
```

To convert this list into a more usable format, we'll apply the `unlist` function. This step extracts the substrings from the list, compiling them into a character vector for easier manipulation and analysis.

If you use the pipe operater (`%>%`) from the `dplyr` package that we loaded at the beginning of the notebook, then you can chain the output from `strsplit(s, ' ') ` to the `unlist()` function and return a character vector. 

The command `strsplit(s, ' ') %>% unlist()` will return a character vector with the following output :

`'528'` &middot; `'m'` &middot; `'/'` &middot; `'1,732'` &middot; `'ft'`

Enter the command in the code cell below.

In [ ]:
...

**Question 11.** Run the command from the previous cell and store its output in a variable named `hts`.

In [ ]:
hts <- ...
hts

**Question 12.** Now, apply bracket notation `[ ]` to select the value representing the height in feet from the character vector `hts`. Store this extracted value in a variable named `ft_comma`.

In [ ]:
ft_comma <- ...
ft_comma

**Question 13.** Use the `gsub` function to remove the comma from `ft_comma`. Save the new value to a variable named `ft_string`.

**Note:** The `gsub` function in R is used for pattern matching and replacement. It stands for "global substitution" and allows you to search for all occurrences of a pattern in a string or vector of strings, and replace them with a specified replacement value. The basic syntax of the `gsub` function is

```
gsub(pattern, replacement, x)
```

where

- `pattern`: The pattern to look for - meaning the string.
- `replacement`: The string to replace the matching pattern with.
`x`: The character vector or string in which to perform the replacement.

**Note:** More details abouot the `gsub` function can be found [**here**](https://www.geeksforgeeks.org/replace-all-the-matches-of-a-pattern-from-a-string-in-r-programming-gsub-function/).

In [ ]:
ft_string <- ...
ft_string

**Question 14.** Finally, convert `ft_string` from a string to a numeric data type by using the `as.numeric` function. Store the converted value in a variable named `ft`.

In [ ]:
ft <- ...
ft

In the next class we'll figure out how to do this to all the values in tthe `height` column. 

**Question 15**. Are there additional issues we might face? Please review the remaining entries in the `height` column to identify any other potential challenges. Provide a specific example of what you find to help us understand and address these concerns effectively.

_Click here to type your answer replacing this text_