# Assignment 07

## Due: See Date in Moodle

In this assignment we will get familiar with some basic Python.

To earn **full credit** on this assignment, you must complete **all** questions.


## This Week's Assignment

In this week's assignment,

- you will work in groups to summarize a data set with numeric and graphical output. 

- your analysis will be based on the coffee data set. The data comes from the `CORGIS` github `https://corgis-edu.github.io/corgis/csv/coffee/`.
 
- we omit grader checks on this assignment in light of collaboration.

In order to complete the tasks in this assignment you will need to `import` the necessary modules.

**Question 1.** Import the `Numpy` and `pandas` modules using the appropriate aliasing.

In [ ]:
...
...

**Question 2.** Load the `coffee.csv` file as a `pandas` `DataFrame` named `coffee` and display the first 5 rows.

**Note:** The `coffee.csv` file is located in the data directory.

In [ ]:
coffee = ...
...

We want to do some basic exploratory data analysis on the `coffee` dataset.

**Question 3.** List the dimensions (i.e. number of rows and columns), column names, number of missing values, data type for each column, etc. 

**Hint:** There is a dataframe method that will return all this information and more.

In [ ]:
...

**Question 4.** Use the text cell below to list the columns that contain numerical data and the columns that contain categorical data?

_Type your answer here replacing this text_

**Question 5.** Use the `describe` dataframe method to display the 5 number summary for only the numerical columns.

In [ ]:
...

Your output from **Question 5** should reveal that the maximum and minimum values for **Location.Altitude.Min** and **Location.Altitude.Min** are the same, while the mean, median, and upper quartile are different. Could this mean there are farms that spread across multiple altitudes. Let's see if we can figure out which farms (if any) have this kind of landscape.

The next question will be broken down into 3 parts, **a.**, **b.** and **c.**.

**Question 6a.** List the items in the `Location.Altitude.Min` column as a `pandas` `Series` in descending order. Save this to an variable named `max_alt`.

**Note:** The code

```
max_alt.loc[[6, 9, 18]]
```

is selecting the 6th, 9th and 18th index value from the `Series` that gets returned. Pay close attention to the values.

In [ ]:
max_alt = ...
max_alt.loc[[6, 9, 18]]

**Question 6b.** List the items in the `Location.Altitude.Max` column as a `pandas` `Series` in descending order. Save this to an variable named `min_alt`.

**Note:** The code

```
min_alt.loc[[6, 9, 18]]
```

is selecting the 6th, 9th and 18th index value from the `Series` that gets returned. Pay close attention to the values.

In [ ]:
min_alt = ...
min_alt.loc[[6, 9, 18]]

**Question 6c.** Use `.loc` to select the 6th, 9th and 18th row from the `coffee` dataframe. Click [here](https://towardsdatascience.com/how-to-use-loc-in-pandas-49ed348a4117) to read an artilce with infomation on how to use `.loc`.

**Hint:** You can use the code from **Question 6a** and **Question 6b** as an example.

In [ ]:
...

Obviously these are not the only farms that fit this description. Where are the others? Let's keep going.

We can compare the contents of two `Series` using the comparison operators. Click [here](https://www.w3schools.com/python/gloss_python_comparison_operators.asp) to review the list of the different comparion operators.

**Question 7.** Use the not equal comparison operator to determine which items in the `max_alt` and `min_alt` `Series` are different. 

**Hint:** In order to compare the two `Series` the index values will need to be in the same order. To *sort* the index values use the `.sort_index()` function. Click [here](https://www.geeksforgeeks.org/python-pandas-series-sort_index/) then scroll down to **Example #2** to see how it's used. 

Your output should be a `Series` of boolean values. For example,

```
0      False
1      False
2      False
3      False
4      False
       ...  
984    False
985    False
986    False
987    False
988    False
Length: 989, dtype: bool
```

In [ ]:
...

**Question 8.** Use the expression from **Question 7** as a boolean mask to filter the rows so that only the observations where the the `Location.Altitude.Max` and `Location.Altitude.Min` are different. Save this to a `DataFrame` named `df`. 

How many observations fit this criteria?

In [ ]:
df = ...
...

The next question will be broken down into 3 parts, **a.**, **b.** and **c.**.

**Question 9a.** Output the unique country locations in the `df` dataframe as a list.

In [ ]:
...

**Question 9b.** Choose a country from the output of **Question 9a** and assign the name to the variable `country`. Make sure that the country you choose has at least 20 observations (rows).

In [ ]:
country = ...

**Question 9c.** Use the varoiable name from **Question 9b** to subset the `coffee` dataframe so that it only contains the observations from the country you chose. Use the [3-letter ISO country code](https://www.nationsonline.org/oneworld/country_code_list.htm) to store the subset dataframe. Display the first five rows of the new dataframe.

In [ ]:
...

Now let's dig deeper into your country of choice.

**Question 10.** Choose two numerical columns from your dataframe and calculate the mean and median.

**Note:** You may use multiple columns to complete this question.

In [ ]:
...

In [ ]:
...

**Question 11.** Choose two categorical columns from your dataframe and count the number of occurances of each label. Only include labels than have more than one occurance. You may return a `Series` or a `DataFrame`.

**Note:** You may use multiple columns to complete this question.

In [ ]:
...

In [ ]:
...

## Specialty Coffee

The coffee cupping score developed by the Specialty Coffee Association goes from 0 to 100. Coffees scoring 80 points or above earn the the label of specialty coffee. Commercial-grade coffee scores range from 60 to 80.

**Question 12.** Save the average aroma and flavor scores from the **full** `coffee` dataset to objects named `aroma_avg` and `flavor_avg`.

In [ ]:
...

**Question 13.** Subset your dataframe by selecting the observations that have an aroma and flavor score above the mean aroma and flavor score from the **full** `coffee` dataset.

In [ ]:
...

**Question 14.** Add a column to your dataframe named `grade` that contains the labels *"specialty"* or *"commercial"* based on the total score. If the total score is at least 80, then the label should be *"specialty"*, otherwise the label should be *"commercial"*.

**Note:** You do not need to put quotations around the words specialty or commerical.

In [ ]:
...

Make sure you have run all cells in your assignment so that all output and images/graphs appear in the output. 

**Note:** Download the `.ipynb` file by from the Jupyter Hub by **SHIFT**-clicking on the file name and selecting Save Link As. Or, find the `.ipynb` file in the left side of the screen and right-click and select Download. You'll submit this `.ipynb` file for the assignment in Moodle to Gradescope for grading.