# Data Dive Using Python

## Due: See Date in Moodle

## Guidelines

- Follow good programming practices by using descriptive variable names, maintaining appropriate spacing for readability, and adding comments to clarify your code.

- Ensure written responses use correct spelling, complete sentences, and proper grammar.

**Name:**

**Section:**

**Date:**

## Step 2: Load Necessary Packages

In [ ]:
## YOUR CODE GOES HERE

## Step 3: Load the Dataset

In [1]:
## YOUR CODE GOES HERE

## Step 4: Inspect the Data

**Question 3.** What are the dimensions of the dataset?

In [1]:
## YOUR CODE GOES HERE

**Question 4.** Are there values stored as strings that should be numeric?

In [1]:
## YOUR CODE GOES HERE

**Question 5.** Are all the column names labeled in `snake_case`?

In [1]:
## YOUR CODE GOES HERE

**Question 6.** Finally, write a brief paragraph summarizing your findings from Questions 3 to 5.

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

## Step 5: Select Key Variables for Analysis

**Question 7.** Write a brief paragraph responding to the following:

- What is the unit of observation of your dataset?

- Which variables did you select? Provide the name, description, and data type for each.

- Why did you select these variables? 

- What patterns, trends, or relationships do you expect to discover from analyzing these variables? Consider how they might interact and what meaningful information they could reveal.

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

## Step 6: Select the Columns for Analysis

**Question 8.** Use bracket notation or the `.loc[]` method to extract the identified columns and store the result in a new `DataFrame` named `df`.

In [2]:
## YOUR CODE GOES HERE

## Step 7: Rename Columns

**Question 9.** For the selected columns, rename any that do not follow the `snake_case` naming convention.

In [3]:
## YOUR CODE GOES HERE

## Step 8: Analyze Key Variables

### Numerical Data

**Question 10.** Use the `.describe()` method to examine the distribution of values in the selected numerical columns.

In [3]:
## YOUR CODE GOES HERE

**Question 11.**  After summarizing the selected numerical variables, write a brief paragraph interpreting the results. Include:

- Whether the minimum and maximum values seem reasonable or appear to be outliers.

- How does the range and spread of your data values influence your analysis?  Consider whether most values are close together or far apart, if there are any extreme values (outliers), and if the data is evenly distributed or skewed to one side.

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

### Categorical Data

**Question 12.** Use the `value_counts` function with the `dropna=False` argument to examine the distribution of values in the selected categorical column, ensuring that missing values (`NaN`) are included. Then, analyze the proportions of each category, including `NaN`, by using the `normalize = True` and `dropna = False` arguments within `value_counts`.

In [1]:
## YOUR CODE GOES HERE

**Question 13.** After summarizing the categorical variable, write a brief paragraph interpreting the results. Include:

- The frequency of each category and their relative proportions.

- Whether certain categories dominate the dataset.

- How the number of times each category appears in your data might affect your analysis. If some categories are much more common than others, they could have a bigger influence on your results.

- The number of missing values (if any).

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

**Question 14.** Check for missing values in the variables you selected for this data dive from **Question 7**. Use `pandas` methods or other programming techniques to identify and count the number of missing values in each selected variable. In the [Data Dive in Python: A Step-by-Step Guide](https://docs.google.com/document/d/1Y-lVEA9FgsPzmYBQZNnxOin443s3KdC9R1JgKiox2ug/edit?tab=t.0#heading=h.vg8ket3l3ug5) there is a table outlining some methods for checking missing values in specific columns using the `.isna()` method. The `.isna()` method identifies missing values `(NaN)` in a `DataFrame` or `Series`, returning a boolean mask where True indicates a missing value. When combined with `.sum()`, it provides a count of missing values per column.

Then, write a brief paragraph reflecting on your plans for further analysis based on the missing values in the variables you selected. Include:

- Whether you will retain or exclude the selected variables with missing data in your final project.

- Any concerns about how missing data might affect your results.

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

## Step 9: Perform Data Moves

### Sort

**Question 15.** Sort the data in ascending and descending order based on the selected numerical variable.

In [2]:
## YOUR CODE GOES HERE

**Question 16.** Filter the dataset based on a numerical condition and a categorical condition separately. For example, select rows where a numerical variable is less than or equal to a given value, or select rows where a categorical variable matches a specific category.

In [ ]:
## YOUR CODE GOES HERE

**Question 17.** Filter the dataset using `AND` to include only rows that meet both a numerical and categorical condition. For example, select rows where a numerical variable is not equal to a specific value and the categorical variable belongs to a particular category.

In [ ]:
## YOUR CODE GOES HERE

**Question 18.** Filter the dataset using `OR` to include rows that meet at least one of two conditions.For example, select rows where a numerical variable is less than a specific value or the categorical variable does not belong to a particular category.

After completing the data filtering process, consider the following programming techniques for further exploration:

- Use `.describe()` for numerical summaries to check if numerical values remain consistent when filtering by category.

- Use `.value_counts()` for categorical summaries to examine whether categorical distributions change when filtering by numerical conditions.

- Assess the number of remaining observations by checking attributes like `.shape` or using methods like `.info()` to determine how much data remains after filtering.

In [ ]:
## YOUR CODE GOES HERE

When interpreting your results and writing your summary for this section, consider the following:

- Compare the numerical and categorical distributions of the filtered subset to the original dataset, noting any significant differences.

- Assess whether filtering has meaningfully altered the dataset and if the subset still contains enough observations for valid analysis.

- Clearly justify the need for filtering, specifying the criteria used and documenting any assumptions made.

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_

### Group and Caluculate

**Question 19.** Use `.groupby()` with `.agg()` to compute summary statistics based on the selected categorical and numerical columns. 

The `.agg()` method in pandas is used to apply a single function or multiple aggregation functions to one or more columns in a `DataFrame`. In the [Data Dive in Python: A Step-by-Step Guide](https://docs.google.com/document/d/1Y-lVEA9FgsPzmYBQZNnxOin443s3KdC9R1JgKiox2ug/edit?tab=t.0#heading=h.vg8ket3l3ug5) there are some examples of how you can use the `.agg()` method with `.groupby()` in `pandas`.

In [ ]:
## YOUR CODE GOES HERE

### Create a New Variable

**Question 20.** Create a new categorical variable based on a numerical column using `numpy.where()`, then use `.value_counts()` to summarize its distribution. In the [Data Dive in Python: A Step-by-Step Guide](https://docs.google.com/document/d/1Y-lVEA9FgsPzmYBQZNnxOin443s3KdC9R1JgKiox2ug/edit?tab=t.0#heading=h.vg8ket3l3ug5) there are some examples of how you can use the `numpy.where()` function in pandas to create categorical variables based on numerical columns.

**Note:** Calling `numpy.where` is the longer syntax. The preferred approach is to use the alias `np.where` for a more concise and readable implementation.

While each example in the [Data Dive in Python: A Step-by-Step Guide](https://docs.google.com/document/d/1Y-lVEA9FgsPzmYBQZNnxOin443s3KdC9R1JgKiox2ug/edit?tab=t.0#heading=h.vg8ket3l3ug5) does an import of `NumPy`, it should be imported at the beginning of the notebook in a single code cell to ensure consistency, improve readability, and prevent redundant imports throughout the notebook.

In [3]:
## YOUR CODE GOES HERE

_TYPE YOUR ANSWER HERE REPLACING THIS TEXT_