# Assignment 04

## Due: See Date in Moodle

In this assignment you will use intermediate and advanced features in R.

To receive a **full credit** for this assignment, achieve a minimum of **45** points out of the **50** available. Any points earned beyond the mandatory **45** will count as extra credit. For a detailed breakdown of point distribution per question, click **[here](https://docs.google.com/document/d/1Gd0nJQXSAleZSVNmXnCoY4Cokwkt3dHfnzzggA_kCiI/edit?usp=sharing)**.

**Note:** You are required to do **Question 28**.

## This Week's Assignment

In this week's assignment, you will perform exploratory data analysis on a data set. This includes, but is not limited to the following:
    
- executing various data moves (see **[Data Moves](https://escholarship.org/uc/item/0mg8m7g6)**).

- constructing visualizations

- conveying your findings through written communication.

### Notes

- Adhere to good programming practices, utilizing descriptive variable names, appropriate spacing for readability, and adding comments to your code. 

- Ensure written responses maintain correct spelling, complete sentences, and proper grammar.

**Name:**

**Section:**

**Date:**

Let's get started!

In this assignment you will use a dataset from The Collection of Really Great, Interesting, Situated Datasets Project (CORGIS) <img src="images/corgis.png" width="35"/> by Austin Cory Bart, Ryan Whitcomb, Jason Riddle, Omar Saleem, Dr. Eli Tilevich, Dr. Clifford A. Shaffer, Dr. Dennis Kafura.

Accoriding to the site, *"The* `skyscrapers.csv` *file contains collected statistics about the tallest buildings all over the world, including the materials used to develop them, the purpose of the buildings, and more.*

The complete dataset, accompanied by an overview and variable descriptions, is available **[here](https://corgis-edu.github.io/corgis/csv/skyscrapers/)**. Review the **Key Descriptions** to familiarize yourself with the variable names, meanings, and types.

## Basic EDA

In this section you will get basic information about a dataset. This process involves obtaining key insights into the characteristics of the dataset without conducting in-depth analysis. 

Run the cell below to load the dataset and display the first 5 rows, along with the shape (rows and columns).

In [ ]:
skyscrapers <- read.csv('data/skyscrapers.csv')

print("The first 5 rows")
head(skyscrapers, 5)
cat("\n")
print("The shape of the dataset (rows and columns)")
dim(skyscrapers)

**Question 1.** Use the `str` command to get an overview of the column names and data types.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 2.** What observations can you make regarding the data types of the columns? Specifically, consider which data type is most prevalent, what the columns describe about the buildings, and the characteristics of the values represented in the column.

_Click here to enter your answer in this markdown cell, replacing this text._

You should have noticed that the most prevalent data type is `logi` or logical (i.e., `TRUE`, `FALSE`). Let's examine the values in one of those logical columns.

**Question 3.** Choose one of the logical columns and display the first 20 values using dollar sign (`$`) notation.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 4.** What did you notice about the output? Specifically, consider the description of the column and what the values in the column represent.

_Click here to enter your answer in this markdown cell, replacing this text._

You should have noticed that every value in the column is `TRUE`. It's probably not the case that every building in the dataset is used every purpose listed. To see only the `logi` columns we can filter the output from the `str` command. To learn how to do this, click [here](https://docs.google.com/document/d/1ufj6hpEOERnWmCejmXfH6Pc8_36OyEBc1lQv6oYFLdI/edit?usp=sharing) to read the conversation I had with ChatGPT.

**Question 5.** Use the hints from the ChatGPT conversatioin to filter the output from the `str` command to only show the columns that are logical (i.e., `logi`).

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

This information will be useful for future data manipulation.

Before we continue let's address a statement that was made in the overview - *"Collected statistics about the tallest buildings all over the world ..."*

**Question 6.** Does this dataset truly contain information for buildings all over the world? Use programming code to provide evidence for your response. 

**Hint:** Look at the output from the structure command.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

_Click here to enter your answer in this markdown cell, replacing this text._

## Data Analysis

In this section you will execute a series of data moves (see [Data Moves](https://escholarship.org/uc/item/0mg8m7g6)) to gain meaningful insight from the dataset.

We will utilize the capabilities of the `dplyr` and `ggplot2` packages to conduct our Exploratory Data Analysis (EDA).

In the cell below load the `dplyr` and `ggplot2` packages.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

Since all columns describing the purpose for each building uniformly hold the value `TRUE`, offering no distinctive characteristics, we will proceed to remove them before starting our EDA.

**Question 7.** Construct a modified dataset named `df` by excluding columns associated with the building's purpose or having a data type of logical from the original `skyscrapers` dataframe. Use the `str` command to confirm that the altered dataframe adheres to the specified criteria.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 8.** Display only the unique values in the `status.current` column.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

In an article entitled ["Explainer: Stages of Construction"](https://skyrisecities.com/news/2015/12/explainer-stages-construction.18748#:~:text=As%20it%20nears%20its%20final,building%20as%20architecturally%20topped%20out.) Marc Mitanis explains the difference between architecturally topped out and structurally topped out. 

**Question 9.** Explain the difference between architecturally topped out and structurally topped out.

_Click here to enter your answer in this markdown cell, replacing this text._

**Question 10.** How many buildings fall into the category of either architecturally topped out or structurally topped out? Use the `table` command to make a contingency table that shows only those two categories.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 11.** Generate a bar chart to visually represent the data presented in the table from the previous question.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

For our analysis, we will focus exclusively on completed buildings. It's important to note that while other buildings in the dataset may also be completed, our analysis will solely rely on the information available within this dataset.

**Question 12.** Create a new dataframe named `completed`, that contains only completed buildings from the existing df dataframe. Display the first 5 rows of the `completed` dataframe.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 13.** Use the `summary` command to find the minimum, 1st quartile, median, mean, 3rd quartile, and maximum for the height of the completed skyscrapers.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 14.** Write a breif paragraph (no more than 200 words) interpreting the output from **Question 13**.

_Click here to enter your answer in this markdown cell, replacing this text._

**Question 15.** The output from the `summary` command shows that there is a height with a minimum value of 0. How many buildings have a height of 0? Use programming code to provide evidence for your response.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

_Click here to enter your answer in this markdown cell, replacing this text._

**Question 16.** How do you think the output from the `summary` command would be different if you remove the buildings with a height of 0? Explain.

_Click here to enter your answer in this markdown cell, replacing this text._

**Question 17.** Remove the buildings have a height of 0, then run  `summary` command again.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 18.** How was the output from **Question 17** different from the output from **Question 13**? Explain.

_Click here to enter your answer in this markdown cell, replacing this text._

**Question 19.** Which city has the most completed sckyscapers (not including skyscrapers with a height of 0)? Answer this question by creating a dataframe that has 10 rows (for the top 10 cities) and two columns (one for the name of the city and one for the number of skyscrapers).

For example, your output could look like this

|**location.city**|**count**|
|----------------:|--------:|
|**`<chr>`**|**`<int>`**|
|New York City|533|
|Chicago|360|
|Miami|86|
|Houston|61|
|Seattle|54|
|Honolulu|50|
|Los Angeles|50|
|Las Vegas|44|
|Minneapolis|39|

**Hint:** Use the `group_by`, `summarise`, and `arrange` functions.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

## A Tale of Two Cities

A Tale of Two Cities is a historical novel published in 1859 by Charles Dickens, set in London and Paris before and during the French Revolution. The novel tells the story of the French Doctor Manette, his 18-year-long imprisonment in the Bastille in Paris, and his release to live in London with his daughter Lucie whom he had never met. The story is set against the conditions that led up to the French Revolution and the Reign of Terror.

In 2003, the novel was ranked 63rd on the BBC's The Big Read poll. The novel has been adapted for film, television, radio, and the stage, and has continued to influence popular culture. 

**Source:** [Wikipedia](https://en.wikipedia.org/wiki/A_Tale_of_Two_Cities)

For the last part of your analysis you get to make a choice.

**Question 20.** Choose two cities from the output from **Question 19**. Create a filtered dataframe containing observations for those two cities while adhering to the following criteria:

- Exclude skyscrapers with a height of 0 in each dataframe.

- Include only skyscrapers with valid start and completion years.

- Keep only the columns `material`, `name`, `location.city`, `statistics.floors.above`, `statistics.height`, `status.completed.year`, and `status.started.year`.

Save this new dataframe to `two_cities`.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 21.** Verify that the `two_cities` dataframe meets all criteria.

In [ ]:
print("The dimensions of the dataframe are:")
print(dim(two_cities))
cat("\n")
print("The column names are:")
print(colnames(two_cities))
cat("\n")
print("The city names are:")
print(unique(two_cities$location.city))
cat("\n")
print("The number of buildings with height 0 are:")
print(nrow(filter(two_cities, statistics.height == 0)))
cat("\n")
print("The number of buildings with 0 for year started and year completed are:")
print(nrow(filter(two_cities, status.completed.year == 0 | status.started.year == 0)))

**Question 22.** Find the distribution of the proportion of materials used for buildings in each city. You can use the `table` command to complete this task.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 23.** Compare the material distributions of skyscrapers in each city, focusing on materials where the difference between proportions are the largest. Take note of any patterns or observations and consider what questions may arise from the comparison. In other words, what do you notice? What do you wonder?

_Click here to enter your answer in this markdown cell, replacing this text._

**Question 24.** Construct a box plot to visually compare the material distributions of skyscrapers across the selected cities.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 25.** Compare the height distributions of skyscrapers in each city, focusing on the median, lower and upper quartiles, and the outliers. Take note of any patterns or observations and consider what questions may arise from the comparison. In other words, what do you notice? What do you wonder?

_Click here to enter your answer in this markdown cell, replacing this text._

**Question 26.** Construct an overlaid histogram to visually compare the distributions of the number of floors across the selected cities.

In [ ]:
# YOUR CODE GOES HERE REPLACING THIS COMMENT
...

**Question 27.** Compare the distributions of the number of floors of the skyscrapers in each city, focusing on the shape and the frequency. Take note of any patterns or observations and consider what questions may arise from the comparison. In other words, what do you notice? What do you wonder?

_Click here to enter your answer in this markdown cell, replacing this text._

**Question 28.** Write a breif paragraph (no more than 300 words) that summarizes the results from your EDA of the two cities.

_Click here to enter your answer in this markdown cell, replacing this text._