# Week 8 Lecture Notebook

## Durham City Employees 

In this lecture our goal is to motivate a use for iteration in Python. We start with the question - What is the median salary for city employees in Durham, North Carolina?

We will use Python to help us answer this question. First let's import the modules we need.

In [1]:
import numpy as np
import pandas as pd

## Load the Data and Explore 

Let's load the data, then we'll use our newly acquired skills to briefly explore.

In [5]:
ral = pd.read_csv('durham_city_employee_salaries.csv')
ral

Use your Python skills to explore the `dur` dataframe. You can write your code in the blank cells below. Feel free to add more code cells.

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

I don't know about you but I hate having to hold the `Shift` key and type multiple characters. I'm going to rename the columns.

In [ ]:
df = dur.rename(columns={'SALARY':'salary', 
                         'TITLE': 'title', 
                         'DEPARTMENT':'dept'})

## Median Salary

There are approximately 2400 City of Durham employees. So this appears to be the entire list (i.e. the population). Since we have a list of *all* the employees we know the median salary. Let's find the median salary and compare it to the average salary.

In [ ]:
...

In [ ]:
...

Unfortunately we can't because someone decided it would be a good idea to include the dollar sign and commas.

## Data Wrangling with Strings

We need to remove the dollar sign, the comma(s) and change the type from `str` to `float`.

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

That's more like it. Now we can do math with our new column of numerical salary values.

In [ ]:
df['cash'].median()

In [ ]:
df.cash.mean()

In [ ]:
df.cash.max()

In [ ]:
df.cash.min()

In [ ]:
df.sort_values('cash')

# Sampling

Suppose we didn't have access to *all* the Durham city employee salaries. Can we still guess the median salary using a sample of Durham City employee salaries.

In [ ]:
df.sample()

In [ ]:
df.sample(10)

In [ ]:
df.sample(10).cash.median()

We need to keep up with the median from each sample.

In [ ]:
med = np.array([])

In [ ]:
np.append(med, df.sample(10).cash.median())

In [ ]:
med = np.append(med, df.sample(10).cash.median())

In [ ]:
med

We need to do this a lot of times. Wouldn't be nice if there were a programmatic way to repeat code so we don't have to press run 1000 times. 

## `for` Loops

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for num in range(5):
    print(num)

In [ ]:
np.arange(5)

In [ ]:
for num in np.arange(5):
    print(num)

In [ ]:
numbers = np.arange(5)
for num in numbers:
    print(num)

In [ ]:
letters = ['a', 'b', 'c']
for i in letters:
    print(i)

In [ ]:
for i in range(len(letters)):
    print(i, letters[i])

In [ ]:
name = "Data Science Academy"
for character in name:
    print(character)

In [ ]:
count = 0
for letter in name:
    count += 1

print('There are', count, 'letters in the name', name)

In [ ]:
count = 0
for letter in name:
    if letter != " ":
        count += 1

print('There are', count, 'letters in the name', name)

## Bootstrapping

The bootstrap method is a resampling technique used to estimate statistics on a population by sampling a dataset *with replacement*.

It can be used to estimate summary statistics such as the mean or standard deviation.

To get a better sense of what bootstrapping is and why it works, run the cell below to watch the video.

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo('Xz0x-8-cgaQ')

Now we'll pretend that we don't have *all* the Durham City employee salaries. Let's take a sample of 300 rows (without replacement) from the `dur` dataframe. Then we'll use bootstrapping to estimate the median.

In [ ]:
sam = df.sample(300)
sam

In [ ]:
sam.cash.median()

In [ ]:
df.cash.median()

Now we'll implement bootstrapping on our sample. That is, we'll resample our sample with replacement. We'll do this 10,000 times to get 10,000 bootstrap sample medians. To keep an account of the different median values we get from our bootstrapped samples, we'll store them in an array.

In [ ]:
med = np.array([])
for _ in range(10000):
    med = np.append(med, sam.sample(sam.shape[0], replace=True).cash.median())

In [ ]:
np.min(med)

In [ ]:
np.max(med)

In [ ]:
np.median(med)

How many of our bootstrap medians were the same or almost the same as our true median?

In [ ]:
df.cash.median()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(med);