# Run the cell below

To run a code cell (i.e.; execute the python code inside a Jupyter notebook) you can click the play button on the ribbon underneath the name of the notebook that looks like â–¶| or hold down `Shift` + `Return`.

Before you begin run the code cell below.

In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("dsc201_001_003_a9.ipynb")

**Name:** 

**Section:** 

**Date:**

## This Week's Assignment

In this week's assignment,

- you will work in groups to summarize a data set with numeric output. 

- your analysis will be based on data from the US Department of Education's College Scorecard. The data comes from `https://collegescorecard.ed.gov/data/`.
 
- most of the atuograder checks are not included in this notebook in light of group collaboration.

### Notes

- You are free to use multiple commands to complete each question.

- Observe **Good Programming Practice** - meaning be sure to use descriptive variable names, insert proper spacing for readability, and include comments in your code chunks.

- When typing written response be sure to use correct spelling, complete sentences and proper grammar.

Let's get started!

## Exploratory Data Analysis

We will be analyzing data from the `colleges-python.csv`, a modified version ot the `colleges.csv`.

<!-- BEGIN QUESTION -->

**Question 1.** Import `pandas` and `NumPy` using the appropriate aliasing.

In [ ]:
# Import the pandas module as pd
import ... as ...

# Import the numpy module as np
import ... as ...

<!-- END QUESTION -->

**Question 2.** Load the `colleges-python.csv` file into a `pandas` `DataFrame` named `colleges`.

In [ ]:
colleges = ...

In [ ]:
grader.check("q2")

<!-- BEGIN QUESTION -->

**Question 3.** Call (i.e., execute) the `.info()` method and 3 other `pandas` `DataFrame` methods on the `colleges` dataframe. Write an intepretion of the results from each method call in the markdown cell after each call.

In [ ]:
# Call the info method
...

_Type your answer here, replacing this text._

In [ ]:
# Call the ... method
...

_Type your answer here, replacing this text._

In [ ]:
# Call the ... method
...

_Type your answer here, replacing this text._

In [ ]:
# Call the ... method
...

_Type your answer here, replacing this text._

<!-- END QUESTION -->

In the next section of the this assignment we want to analyze only the instutions that offer at least a bachelor's degree.

**Question 4.** Filter the colleges dataset to include only colleges that offer at least a bachelor's degree. Save this to an object named `four_year_colleges`.

In [ ]:
four_year_colleges = ...

In [ ]:
grader.check("q4")

## Data Wrangling

In last week's class we started the last section of Assignment 08 (i.e., notebook `dsc201_001_003_a8.ipynb`) entitled **Think like a data scientist**. In that section we went through a step-by-step process to count the number of letters in the names of skyscrapers. In this section of your group assignment we will implement a similar strategy to accomplish a slightly different task.

In this version of the dataset, the `median_debt` and `med_alum_earnings` variables represent monetary values, but appear in the dataset as strings.

**Question 5.** Choose either `median_debt` or `med_alum_earnings` as the variable you'll analyze in the section of the assignment. Save your choice as a string to the variable named `q5_answer`.

In [ ]:
q5_answer = ...
q5_answer

In [ ]:
grader.check("q5")

**Question 6.**  Create a new dataframe by selecting the column you choose in **Question 5**, along with the `name`, `state`, `default_rate`, `grad_rate`, `ownership`, `locale`, `hbcu`, `net_tuition`, and `pct_PELL` from the `four_year_colleges` dataframe. Name this dataframe `df`.

**Note:** Make sure that the first column is the name of the college.

In [ ]:
df = ...

In [ ]:
grader.check("q6")

**Question 7.** Convert the values in the column of you chose in **Question 5** from strings into numbers. Then add the column back to the `df` dataframe with a new name of your choice. Finally, rename the added column to the original name in the dataset (i.e., either `median_debt` or `med_alum_earnings` depending on your choice from **Question 5**).


For example, if you chose `median_debt` the columns in your final dataframe should look like this:

| | **name** | **state** | **default_rate** | **grad_rate** | **median_debt** | **ownership** | **locale** | **hbcu** |**net_tuition** | **pct_PELL** |
|----------|----------|----------|----------|----------|----------|----------|----------|----------|----------|----------|
|**0**|Alabama A & M University|Alabama|12.1|28.66|15250.0|Public|Small City|Yes|8.101|70.95|

**Notes:**
- Be sure to add comments in code cells and written commentary in markdown cells to describe the thought process behind your analysis.
- You may add additional code cells to complete your analysis.

**Hint:** Refer to the steps used in the **Think like a data scientist** section from the Assignment 08. Please add additional code cells if needed.

In [ ]:
...

_Type your answer here, replacing this text._

In [ ]:
...

_Type your answer here, replacing this text._

In [ ]:
...

_Type your answer here, replacing this text._

In [ ]:
...

_Type your answer here, replacing this text._

## Comparisons Across Groups

Now that you have a dataset that is prepared for analysis you and your group get to make some choices about how you proceed from here.

<!-- BEGIN QUESTION -->

**Question 8.** You are required to: 

- subset the `df` dataframe based on comparing a numerical feature to a summary statistic like the mean or median.
- compare the variable you chose in **Question 5** across at least 2 of the catgeorical variables in the dataset. For example, what is the maximum median debt between colleges in different ownership categories.
- select a state other than North Carolina and compare summary statistics about one categorical variable and the variable you chose in **Question 5**.

**Notes:** 
- Be sure to add comments in code cells and written commentary in markdown cells to describe the thought process behind your analysis.
- You may add additional code cells to complete your analysis.

In [ ]:
...

_Type your answer here, replacing this text._

In [ ]:
...

_Type your answer here, replacing this text._

In [ ]:
...

_Type your answer here, replacing this text._

In [ ]:
...

_Type your answer here, replacing this text._

In [ ]:
...

_Type your answer here, replacing this text._

<!-- END QUESTION -->

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

When done exporting, download the .zip file by `SHIFT`-clicking on the file name and selecting **Save Link As**. Or, find the .zip file in the left side of the screen and right-click and select **Download**. You'll submit this .zip file for the assignment in Moodle to Gradescope for grading.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False)